/* Votre Style */
@font-face {
	font-family: "SourceSansPro";
	src: url("SourceSansPro.ttf");
}

body {
	font-family: "SourceSansPro", sans-serif;
	font-size: 1.6em;
	background: #ecf0f1;
}

a {
	color: #0062BE;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.striped-vert tr > th:first-child {
	background: none;
}
td {
	background: #fafafa;
}

small {
	font-size: 0.7em;
}

.header {
	padding: 25px;
}
.logo {
	max-width: 300px;
}
.tagline {
	padding: 0 0 0 80px;
	font-size: 1.1em;
	font-style: italic;
}
.tagline a:hover {
	text-decoration: none;
}
.support {
	text-align: center;
}

.presentation {
	padding: 25px 0;
}
.presentation .screenshot,
.presentation .download {
	vertical-align: middle;
}
.presentation .screenshot img {
	border: 1px solid #ddd;
	border-radius: 5px;
}
.presentation .download {
	text-align: center;
}

.overview {
	margin: 25px 0;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.overview .mod {
	padding: 25px;
	text-align: center;
}

.requirements {
	margin: 25px 0;
}

.help {
	margin: 25px 0;
	padding: 25px 0;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.help .mod {
	padding: 0 25px;
	text-align: center;
}
.help h2 {
	font-size: 1.4em;
}

.btn {
	display: inline-block;
	min-height: 35px;
	min-width: 15px;
	padding: 10px 30px;
	background: linear-gradient(to bottom, #fff 0%, #eee 100%);
	border-radius: 5px;
	color: #666;
	border: 1px solid #ddd;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	text-shadow: 0px -1px 0 #aaa;
	line-height: 20px;
	vertical-align: middle;
	cursor: pointer;
}
.btn:hover {
	background: linear-gradient(to bottom, #f8f8f8, #f0f0f0);
	text-decoration: none;
}
.btn:active {
	background: #eee;
	box-shadow: 0px 2px 4px #e0e0e0 inset, 0px 1px 2px #fafafa;
}
.btn.important {
	background: linear-gradient(to bottom, #0084CC, #0045CC);
	color: #fff;
	border: 1px solid #0062B7;
}
.btn.important:hover {
	background: linear-gradient(to bottom, #0066CC, #0045CC);
}
.btn.important:active {
	background: #0044CB;
	box-shadow: none;
}
.btn.important.icon:before {
	color: #fff;
}

footer {
	margin: 25px 0;
	padding: 25px;
	color: #666;
	text-align: left;
	font-size: 0.8em;
}

@media handheld {
	body {
		background: #fff;
	}

	#ribbon {
		display: none;
	}
}

#ribbon {
	position: fixed;
	top: 3em; left: -5em;
	z-index: 1;
	-webkit-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
	background: #e67e22;
	padding: 1px 0;
	overflow: hidden;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

#ribbon p {
	color: #fff;
	border: 1px solid #fff;
	margin: 0.05em 0;
	padding: 0.5em 5.5em;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
}

#ribbon a {
	color: #fff;
}
