<!--
    Note: this section of the template is specific to freshrss.org and its
    content. It's probably not the best way to do it but I can't figure out how
    to do it in another better way.
-->
<div>
    <nav>
        <ul>
            <li><a class="link-icon" href="{{ SITEURL }}/"><span class="icon-home"></span></a></li>
            <li><a href="{{ SITEURL }}/#presentation">Presentation</a></li>
            <li><a href="{{ SITEURL }}/#requirements">Requirements</a></li>
            <li><a href="{{ SITEURL }}/#help">Need help?</a></li>
            <li><a href="{{ SITEURL }}/blog.html">News</a></li>
            <li>
                {% if FEED_ALL_ATOM %}
                    <a class="link-icon" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"><span class="icon-feed3"></span></a>
                {% elif FEED_ALL_RSS %}
                    <a class="link-icon" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"><span class="icon-feed3"></span></a>
                {% endif %}
                {% if TWITTER %}
                    <a class="link-icon" target="_blank" href="{{ TWITTER }}"><span class="icon-twitter2"></span></a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>
<!-- End of the freshrss.org specific section -->

<div class="grid2-1">
    <div>
        <h1><a href="{{ SITEURL }}/">
            {% if SITELOGO %}
                <img class="logo" src="{{ SITELOGO }}" alt="{{ SITENAME }}" />
            {% else %}
                {{ SITENAME }}
            {% endif %}
        </a></h1>
        {% if SITESUBTITLE %}
            <p class="tagline">
                <a href="{{ SITEURL }}/">{{ SITESUBTITLE }}</a>
            </p>
        {% endif %}
    </div>
</div>
