{% if articles_paginator.num_pages > 1 %}

    <div class="grid3 paginator">
        <div class="paginator-prev">
            {% if articles_page.has_previous() %}
                <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">⭪</a>
            {% endif %}
        </div>

        <div class="paginator-current">
            <span>{{ articles_page.number }} / {{ articles_paginator.num_pages }}</span>
        </div>

        <div class="paginator-next">
            {% if articles_page.has_next() %}
                <a href="{{ SITEURL }}/{{ articles_next_page.url }}">⭬</a>
            {% endif %}
        </div>
    </div>

{% endif %}
