<script type="text/javascript" async="true" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    function init_smooth_scroll() {
        if (!window.$) {
            if (window.console) {
                console.log('Waiting for JS…');
            }
            window.setTimeout(init_smooth_scroll, 100);
            return;
        }

        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') &&
                        location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 500, function() {
                            window.location.hash = target.selector;
                        });
                        return false;
                    }
                }
            });
        });
    }
    init_smooth_scroll();
</script>
