{% extends "__base.html" %}

{% block content %}

{% include '_pagination.html' %}

<section class="list-articles">
    {% for article in articles_page.object_list %}
        <article>
            {% include "_article_details.html" %}

            <div class="entry-content">
                {{ article.content }}
            </div>

            {% include "_article_comments.html" %}
        </article>
    {% else %}
        <div>Nothing has been published yet!</div>
    {% endfor %}
</section>

{% include '_pagination.html' %}

{% endblock %}
