<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0" />
        <link rel="canonical" href="{{ SITE_URL }}{{ PAGE_SLUG }}.html">
        <link href="https://github.com/FreshRSS/FreshRSS/releases.atom" type="application/atom+xml" rel="alternate" title="FreshRSS Releases" />

        <link rel="stylesheet" href="{{ SITE_URL }}style.css" />

        {% if 'PAGE_TITLE' in globals() %}
            <title>{{ PAGE_TITLE }} · {{ SITE_TITLE }}</title>
            <meta property="og:title" content="{{ PAGE_TITLE }}" />
        {% else %}
            <title>FreshRSS, a free, self-hostable feeds aggregator</title>
            <meta property="og:title" content="FreshRSS, a free, self-hostable feeds aggregator" />
        {% endif %}

        {% if 'PAGE_DESCRIPTION' in globals() %}
            <meta name="description" content="{{ PAGE_DESCRIPTION }}" />
            <meta property="og:description" content="{{ PAGE_DESCRIPTION }}" />
        {% endif %}

        <meta property="og:type" content="website" />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:url" content="{{ SITE_URL }}{{ PAGE_SLUG }}.html" />
        <meta name="twitter:site" content="{{ SITE_TWITTER }}">
        {% if 'PAGE_ILLUSTRATION' in globals() %}
            <meta property="og:image" content="{{ SITE_URL }}{{ PAGE_ILLUSTRATION }}" />
        {% else %}
            <meta property="og:image" content="{{ SITE_URL }}card.png" />
        {% endif %}
        <meta name="twitter:card" content="summary">

        <script defer src="{{ SITE_URL}}script.js"></script>
    </head>

    <body class="flow-larger">
        <header class="site__header wrapper-small edge-gap flow">
            <a href="{{ SITE_URL }}index.html">
                <img alt="FreshRSS" src="{{ SITE_URL }}images/logo.webp" width="500" height="109">
            </a>

            <h1 class="site__title">
                {% if 'PAGE_TITLE' in globals() %}
                    {{ PAGE_TITLE }}
                {% else %}
                    A free, self-hostable feed aggregator.
                {% endif %}
            </h1>
        </header>

        <main class="flow-larger">
            {{ PAGE_CONTENT }}
        </main>

        <footer class="site__footer wrapper-large edge-gap cols">
            <p>
                <img alt="FreshRSS" src="{{ SITE_URL }}images/icon.svg" width="200" height="200" />
            </p>

            <ul class="flow-small">
                <li><a href="https://github.com/FreshRSS">GitHub</a></li>
                <li><a href="https://framateam.org/freshrss/channels/town-square?id=e2680d3e3128b9fac8fdb3003b0024ee">Framateam</a></li>
                <li><a href="https://freshrss.github.io/FreshRSS/">Documentation</a></li>
                <li><a href="{{ SITE_URL}}cloud-providers.html">Cloud providers</a></li>
                <li><a href="{{ SITE_URL}}contact.html">Contact us</a></li>
                <li><a href="{{ SITE_URL}}legal.html">Legal &amp; credits</a></li>
            </ul>

            <div class="flow">
                <p>
                    Sponsor us on <a href="https://liberapay.com/FreshRSS/">Liberapay</a>.
                </p>

                <p>
                    Find us on <a href="https://twitter.com/FreshRSS">Twitter</a>.
                </p>

                <p>
                    <a href="https://alternativeto.net/software/FreshRSS/about/">
                        Vote for us on AlternativeTo
                    </a>

                    <br />

                    <small>
                        or find alternatives if FreshRSS does not meet your expectations.
                    </small>
                </p>
            </div>
        </footer>

        <div id="scroll-to-top" class="hidden">
            <button>Scroll to top</button>
        </div>
    </body>
</html>
